<!DOCTYPE html>
{% load static %}
<html>

<head>
	<link rel="shortcut icon" type="png" href="{% static 'icon/favicon.png' %}">
	<title>Ajout d un nouveau cours</title>
	<link rel="stylesheet" type="text/css" href="{% static 'loginstyles.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<style>
		#session_Debut::before {
		  content: "session debut  ex : "; /* Texte par défaut à afficher */
		  color: rgba(0,0,0,0.7); /* Couleur du texte par défaut */
		  font-style: italic; /* Style du texte par défaut */
		}
		#session_Fin::before {
			content: "session de fin ex : "; /* Texte par défaut à afficher */
			color: rgba(0,0,0,0.7); /* Couleur du texte par défaut */
			font-style: italic; /* Style du texte par défaut */
		}
	</style>
</head>

<body>

	<div class="form-box"  style="height:660px;">
		<h2
			style="text-align:center;color:rgba(0,0,0);border-radius:5px;margin-top:30px;text-decoration:underline;background: linear-gradient(to right, #FA4B37, #DF2771)">
			Formulaire de Creation d un nouveau cours</h2>
		<form class="input-group" method="post" style="margin-left:60px;" validate>
			{% csrf_token %}
			<input type="text" name="titre" class="input-field" placeholder="Titre du cours " required="required">
			{% if form.errors.titre %}
			<ul>
				{% for error in form.errors.titre %}
				<li>{{error}}</li>
				{% endfor %}
			</ul>
			{% endif %}

			<input type="text" name="libelle" class="input-field" placeholder="libelle du cours" required="required">
			{% if form.errors.libelle %}
			<ul>
				{% for error in form.errors.libelle %}
				<li>{{error}}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<textarea class="input-field" placeholder="les données textuelles du cours" name="contenue_texte"
				required="required"></textarea>
			{% if form.errors.contenue_texte %}
			<ul>
				{% for error in form.errors.contenue_texte %}
				<li>{{error}}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<textarea class="input-field" placeholder="les liens pour les videos du cours" name="urls"
				required="required"></textarea>
			{% if form.errors.urls %}
			<ul>
				{% for error in form.errors.urls %}
				<li>{{error}}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<input type="number" name="id_Session" class="input-field" placeholder="ID de la session" required="required">
			{% if form.errors.id_Session %}
			<ul>
				{% for error in form.errors.id_Session %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<input type="date" name="session_Debut" id="session_Debut"   class="input-field" placeholder="Date de début" required="required">
			{% if form.errors.session_Debut %}
			<ul>
				{% for error in form.errors.session_Debut %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}

			<input type="date" name="session_Fin" id="session_Fin"  class="input-field" placeholder="Date de fin" required="required">
			{% if form.errors.session_Fin %}
			<ul>
				{% for error in form.errors.session_Fin %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}

			<input type="number" name="volume_Horaire" class="input-field" placeholder="Volume horaire" required="required">
			{% if form.errors.volume_Horaire %}
			<ul>
				{% for error in form.errors.volume_Horaire %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<button type="submit" id="btnSubmit" class="submit-btn reg-btn" style="margin-top:10px;margin-left:5px;">Enregistrer</button>
		</form>
	</div>
	<script type="text/javascript" src="{% static 'script.js' %}"></script>
</body>

</html>
