<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="shortcut icon" type="png" href="{% static 'icon/favicon.png'%}">
	<title>SignUp</title>
	<link rel="stylesheet" type="text/css" href="{%static 'loginStyle.css'%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- It will redirect to the Home Page after submitting the form -->
<style>
	#teacherBtn:focus{
		background-color:beige;
		}
</style>

</head>
<body>

		<div class="form-box" id="registrationFormBox" style="height:200px">
			<h4 align="center">Etes vous  Etudiant ou en tant que Professeur</h4>
			<div class="button-box" style="height:35px;">
				<div id="btn"></div>
                {% block lien%}

                {% endblock%}
			</div>
			<a href="{% url 'home' %}" style="padding:20px;text-align:center;border-radius:8px;height:40px;color:black;text-decoration:none;margin-left:70px;background: linear-gradient(to right, #FA4B37, #DF2771)">
				Retourner sur la page d ' acceuil
			</a>
		</div>
		<script type="text/javascript" src="{% static 'script.js'%}"></script>
</body>
</html>
