{% extends "index.html" %}
{% load static %}
{% block title %}Espace Etudiant{% endblock title %}
{% block main-content %}
<header id="header">
	<nav>
		<div class="logo"><img src="{% static 'icon/logo.png'%}" alt="logo"></div>
		<ul>
			<li><a class="active" href="{% url 'home' %}">Home</a></li>

			{% comment %} <li><a href="#feedBACK">Avis des utilisateurs</a></li> {% endcomment %}
			<li><a href="{% url 'contact' %}">Contactez Nous</a></li>
			<li><a href="#about_section">A Propos</a></li>
			{% comment %} <li><a href="#contactus_section">Contact</a></li> {% endcomment %}




		</ul>
		<div class="srch"><input type="text" class="search" placeholder="Rechercher ...">
			<img src="{% static 'icon/search.png'%}" alt="search" onclick=slide()>
		</div>
		<a class="get-started" href="#">
			<p>{{etudiant.nom}} {{etudiant.prenom}}</p>
		</a>
		<a title='Retour sur la page de connexion' class="get-started" href="{% url 'loginUtilisateur' %}">Se Deconnectez
		</a>
		<img src="{% static 'icon/menu.png'%}" class="menu" onclick="sideMenu(0)" alt="menu">
	</nav>
	<div style="width:350px;height:50px;position:absolute;top:100px;left:150px;"> {% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
				{% endfor %}
		</ul>
		{% endif %}
	</div>

	<div class="head-container">
		<div class="quote">
			<p>The beautiful thing about learning is that nobody can take it away from you</p>
			<h5>Bienvenue! Vous vous trouvez à présent dans notre espace etudiant, tous les cours sont à portés de main
				.Profitez en !!!</h5>
		</div>
		<div class="svg-image">
			<img src="{% static 'extra/svg1.jpg'%}" alt="svg">
		</div>
	</div>
	<div class="side-menu" id="side-menu">
		<div class="close" onclick="sideMenu(1)"><img src="{% static 'icon/close.png'%}" alt=""></div>
		<div class="user">
			<p class="home" style="position:absolute;top:100px;"><a href="{% url 'home' %}">Se Deconnectez </a></p>
			<p>{{etudiant.nom}} {{etudiant.prenom}}</p>
		</div>
	</div>
</header>

<iframe src="{% url 'cours' etudiant_id=etudiant.id %}" frameborder="0"  style="height:700px;width:1250px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



{% endblock main-content %}
