{% extends 'index.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block main-content %}

<!-- Navigation Bar -->
<header id="header">
	<nav>
		<div class="logo"><img src="{% static 'icon/logo.png'%}" alt="logo"></div>
		<ul>
			<li><a class="active" href="{% url 'home' %}">Home</a></li>
			<li><a href="#portfolio_section">Portfolio</a></li>
			<li><a href="{% url 'contact' %}">Contactez nous</a></li>
			<li><a href="#about_section">A Propos</a></li>
			{% comment %} <li><a href="#contactus_section">Contact</a></li> {% endcomment %}




		</ul>
		<div class="srch"><input type="text" class="search" placeholder="Rechercher ..."><img
				src="{% static 'icon/search.png'%}" alt="search" onclick=slide()></div>
		<a class="get-started" href="{% url 'signup' %}">Rejoignez nous</a>

		<a class="get-started" href="{% url 'login' %}">Connectez vous </a>
		<img src="{% static 'icon/menu.png'%}" class="menu" onclick="sideMenu(0)" alt="menu">
	</nav>
	<div style="width:350px;height:50px;position:absolute;top:100px;left:150px;"> {% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}</div>

	<div class="head-container">
		<div class="quote">
			<p>The beautiful thing about learning is that nobody can take it away from you</p>
			<h5>L'éducation ouvre les portes de la découverte et du développement personnel. C'est un voyage passionnant où
				l'on acquiert des connaissances, des compétences et des valeurs qui façonnent notre vision du monde. De
				l'enseignement traditionnel aux récits captivants, chaque méthode éducative nous guide vers de nouveaux
				horizons.!</h5>
		</div>
		<div class="svg-image">
			<img src="{% static 'extra/svg1.jpg'%}" alt="svg">
		</div>
	</div>
	<div class="side-menu" id="side-menu">
		<div class="close" onclick="sideMenu(1)"><img src="{% static 'icon/close.png'%}" alt=""></div>
		 <ul>
			<li><a href="#about_section">A Propos</a></li>
			<li><a href="#portfolio_section">Portfolio</a></li>
			{% comment %} </ul> <li><a href="#team_section">Team</a></li> {% endcomment %}
			<li><a href="#contactus_section">Contact</a></li>
			<li><a href="#feedBACK">Feedback</a></li>

	</div>
</header>


<!-- Some Popular Subjects -->
{% comment %} <div class="title">
	<span>Popular Subjects on LearnEd</span>
</div>
<br><br>
<div class="course">
	<center>
		<div class="cbox">
			<div class="det"><a href="#"><img src="{%static 'courses/book.png'%}">JEE Preparation</a></div>
			<div class="det"><a href="#"><img src="{%static 'courses/d1.png'%}">GATE Preparation</a></div>
			<div class="det"><a href="#"><img src="{%static 'courses/paper.png'%}">Sample Papers</a></div>
			<div class="det"><a href="#"><img src="{%static 'courses/d1.png'%}">Daily Quiz</a></div>
		</div>
	</center>
	<div class="cbox">
		<div class="det"><a href="#"><img src="{% static 'courses/computer.png'%}">Computer Courses</a></div>
		<div class="det"><a href="#"><img src="{% static 'courses/data.png'%}">Data Structures</a></div>
		<div class="det"><a href="#"><img src="{% static 'courses/algo.png'%}">Algorithm</a></div>
		<div class="det det-last"><a href="#s"><img src="{% static 'courses/projects.png'%}">Projects</a></div>
	</div>
</div> {% endcomment %}


<!-- ABOUT -->
<div class="diffSection" id="about_section">
	<center>
		<p style="font-size: 50px; padding: 100px">A Propos</p>
	</center>
	<div class="about-content">
		<div class="side-image">
			<img class="sideImage" src="{% static 'extra/e3.jpg' %}" />
		</div>
		<div class="side-text">
			<h2>Quelle est votre opinion à notre sujet ?</h2>
			<p>L'éducation est le processus visant à faciliter l'apprentissage ou l'acquisition de connaissances, de
				compétences, de valeurs, de croyances et d'habitudes. Les méthodes éducatives comprennent l'enseignement, la
				formation, la narration, la discussion et la recherche dirigée.<br> Les sites Web éducatifs peuvent inclure des
				sites Web proposant des jeux, des vidéos ou des ressources thématiques qui servent d'outils pour améliorer
				l'apprentissage et compléter l'enseignement en classe. Ces sites Web contribuent à rendre le processus
				d’apprentissage divertissant et attrayant pour l’étudiant, surtout à l’époque actuelle. <br>En utilisant HTML
				(HyperText Markup Language), CSS (Cascading Style Sheet), JavaScript, nous pouvons rendre l'apprentissage plus
				facile et d'une manière intéressante</p>
		</div>
	</div>
</div>


<!-- PORTFOLIO -->
<div class="diffSection" id="portfolio_section">
	<center>
		<p style="font-size: 50px; padding: 100px; padding-bottom: 40px;">Portfolio</p>
	</center>
	<div class="content">
		<p>
			"L'éducation est le passeport pour l'avenir, car demain appartient à ceux qui se préparent aujourd'hui."</br>
			"Votre attitude, et non pas votre aptitude, déterminera votre altitude."</br> "Si vous pensez que l'éducation
			coûte cher, essayez l'ignorance."</br> "La seule personne qui est éduquée est celle qui a appris à apprendre... et
			à changer."
		</p>
	</div>
</div>
<div class="extra">
	<p>Nous enrichissons continuellement ces données année après année.</p>
	<div class="smbox">
		<span>
			<center>
				<div class="data">154</div>
				<div class="det">Enrolled Students</div>
			</center>
		</span>
		<span>
			<center>
				<div class="data">62</div>
				<div class="det">Total Courses</div>
			</center>
		</span>
		<span>
			<center>
				<div class="data">56</div>
				<div class="det">Placed Students</div>
			</center>
		</span>
		<span>
			<center>
				<div class="data">27</div>
				<div class="det">Total Projects</div>
			</center>
		</span>
	</div>
</div>


<!-- Reviews by Students -->
<div id="makeitfull">
	<a href="#review_section"><img src="{% static 'icon/makeitfull.png'%}"></a>
</div>
<div class="review">
	<div class="diffSection" id="review_section">
		<center>
			<p style="font-size: 40px; padding: 100px; padding-bottom: 40px; color: #2E3D49;">Les retours de nos étudiants</p>
		</center>
	</div>
	{% for feed in feedback %}
	<div class="rev-container">
		<div class="rev-card">
			<div class="identity">
				<p>{{feed.full_name}}</p>
			</div>
			<div class="rev-cont">
				<p id="title">Commentaire:</p>
				<p id="content">
                {{feed.message}}
				</p>
			</div>
		</div>

	</div>
	{% endfor %}
	{% block contact%}
	{%endblock%}
	<!-- FEEDBACK -->
	<div class="title2" id="feedBACK">
		<span>Partager vos impressions</span>
		<div class="shortdesc2">
			<p>N'hésitez pas à nous faire part de vos précieux commentaires.</p>
		</div>
	</div>

	<div class="feedbox">
		<div class="feed">
			<form method="post" validate>
				{% csrf_token %}
				{% if form.errors.full_name %}
          <ul>
            {% for error in form.errors.full_name %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
		{% if form.errors.message %}
		<ul>
		  {% for error in form.errors.message %}
			<li>{{ error }}</li>
		  {% endfor %}
		</ul>
	  {% endif %}
				{{ form.as_p }}
				<button type="submit" id="csubmit" name="feedbacksub">Send Message</button>
			</form>
		</div>
	</div>

	<!-- Sliding Information -->
	<marquee style="background: linear-gradient(to right, #FA4B37, #DF2771); margin-top: 50px;" direction="left"
		onmouseover="this.stop()" onmouseout="this.start()" scrollamount="20">
		<div class="marqu">"L'éducation est le passeport pour l'avenir, car demain appartient à ceux qui se préparent
			aujourd'hui." "Votre attitude, et non pas votre aptitude, déterminera votre altitude." "Si vous pensez que
			l'éducation coûte cher, essayez l'ignorance." "La seule personne qui est éduquée est celle qui a appris à
			apprendre... et à changer."”</div>
	</marquee>

	<!-- FOOTER -->
	{% endblock main-content%}
